<h2><%= @trip.name %></h2>

<h5><%= @trip.duration %></h5>

<ul class="collapsible" data-collapsible="accordion">
  <% @trip.locations.each do |location| %>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>
      <h4><%= location.city %></h4>
    </div>
    <div class="collapsible-body">
      <span>
        <%= link_to 'Show Location', trip_location_path(@trip, location) %>
        <p>content for address.html.erb will be linked here through a variable</p>
      </span>
    </div>
  </li>
  <% end %>
</ul>
  <div class="waves-effect waves-light btn">
    <%= link_to 'Add Location', new_trip_location_path(@trip) %>
  </div>
  <div class="waves-effect waves-light btn">
    <%= link_to 'Back to Trips', root_path %>
  </div>

<!--     <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
 -->