<h2><%= @trip.name %></h2>

<h3><%= @trip.duration %></h3>

<%= link_to 'Add Locations', new_trip_location_path(@trip) %>

  <% @trip.locations.each do |location| %>
    <div class="">
      <h1><%= location.city %></h1>
      <%= link_to 'Show Location', trip_location_path(@trip, location) %>
    </div>
  <% end %>
