<h2>Designate Address</h2>
<%= form_for [@location, @address] do |f| %>

<%= f.label :street %>
<%= f.text_field :street, required: true, autofocus: true %>

<%= f.label :city %>
<%= f.text_field :city, required: true %>

<%= f.label :state %>
<%= f.text_field :state, required: true %>

<%= f.label :zip %>
<%= f.text_field :zip, required: true %>

<%= f.label :location_id, 'Please do not change this number - it is needed to create a new address' %>
<%= f.number_field :location_id, :value => @location.id %>

<%= f.submit %>
</div>

<% end %>

<!-- https://www.google.com/maps/place/370+300+E,+Salt+Lake+City,+UT+84111

http://www.google.com/maps/place/ (split street join +) + ',+' (split city join +) + ',+' (State) + '+' (zip code)

address = 'http://www.google.com/maps/place/' + street + ',+' +

street = street.strip.split(' ').join('+')
city = city.strip.split(' ').join('+')
state = state.strip.split(' ').join('+')
zip = zip.strip -->
