<% if @location.address != nil %>
  <h2><%= @location.address.street %></h2>
  <h2><%= @location.address.city %>, <%= @location.address.state %> <%= @location.address.zip %></h2>
<% end %>

<% if @location.address != nil %>
  <%= link_to 'Edit Address', edit_location_address_path(@location, @location.address), class: 'btn' %>
<% end %>
<%= link_to 'Delete Address', location_address_path(@location, @location.address), method: :delete, class: 'btn' %>
<%= link_to 'Back to Trip', root_path(@trip), class: 'btn' %>
